body {
    margin: 0px;
}
main {
    margin-left: auto;
    margin-right: auto;
    width: 800px;
    background-color: rgb(226, 255, 249);
    padding-top: 10px;
    font-family: Arial, sans-serif;
}
.gradien {
    background-image: linear-gradient(to right, rgb(105, 105, 105), rgb(255, 248, 176)) ; 
    height: 10px;
}

h1, h2, .intruksi, .definisi {
    text-align: left;
    padding-left: 20px;
}

h2 {
    line-height: 30px;
}

.pilgan {
    text-align: center;
    width: 100%;
}
.radio {
    background-color: aqua;
}

li {
    line-height: 30px;
}
textarea {
    margin-left: 20px;
}
.submit {
    margin-left: 20px;
}
footer {
    height: 50px;
    margin-top: 30px ;
    font-size: 15px;
    padding: 5px;
    text-align: center;
    color: #ffffff;
    background-color: rgb(59, 91, 141);
}


